<% provide(:title, 'About') %>

<h1>About Us</h1>
<p>
  Here at Revbundle we love reviewing anything we can we take the time to review multiple websites and place that information on one page so you don't have to spend hours searching.
</p>
