<% provide(:title, 'All Restaurants') %>
  <h1 class="rest_header round">Restaurants</h1>


  <span class="restaurants">
  	<ul>
  	  <% @restaurants.each do |restaurants| %>
  	    <li class="round">
  	  	  <%= link_to restaurants.name, restaurants %>
  	    </li>
  	  <% end %>  
  	</ul>
  </span>
  
