<% provide(:title, 'All Restaurants') %>
<div class="rest_header round">
  <h1>
    Restaurants
    <span class="rest_search">
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search Near", :name => nil %>
    </span>
  </h1>
</div>

  <span class="restaurants">
  	<ul>
  	  <% @restaurants.each do |restaurants| %>
  	    <li class="round">
  	  	  <%= link_to restaurants.name, restaurants %>
  	    </li>
  	  <% end %>  
  	</ul>
  </span>
  
